body{
  background: linear-gradient(aqua, rgb(13, 121, 85));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  font-size: large;
  height: 100%;
}
img {
  width: 50%;
  height: auto; 
  padding: 60px;
  margin: 20px;
  }
  h1{
  text-align: center;
}

.sidebar {
  height: 10;
  float: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  background-color: aqua;
  width: 160px;
  border: 30px salmon;
  border-style: dotted;
  padding: 30px;
  margin: 20px;
  position: fixed;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}